<%- include('header') -%>

<div class="jumbotron">
	<div class="container">
		<h3>Your shopper information has been saved</h3>
		<br>
		<button class="btn btn-default"><a href="/">Back to Home</a></button>
	</div>
</div>