<%- include('header') -%>

<div class="jumbotron">
	<div class="container">
	    <p>We will be conducting a background check once you submit your information. Is that okay?</p>

	    <form style="display: inline" action="/apply" method="get">
	      <button>Yes</button>
	    </form>

	    <form style="display: inline" action="/" method="get">
	      <button>No</button>
	    </form>
	</div>
</div>
