<%- include('header') -%>

<div class="jumbotron">
	<div class="container">
		<h1>Welcome to Instacart</h1>
    	<h2>Earn money shopping and delivering groceries, giving customers more time to do what they love. Click below to apply to be a shopper!</h2>
    	<br>
	    <form style="display: inline" action="/confirm" method="get">
	      <button class="btn btn-default">Apply Now</button>
	    </form>
	</div>
</div>
