<%- include('header') -%>

<div class="default">
    <p>Welcome to Instacart</p>
    
    <form style="display: inline" action="/confirm" method="get">
      <button>Apply Now</button>
    </form>
</div>
